<div class="large-4 medium-4 columns">
    <div class="row">
        <div class="large-6 medium-6 columns">
            {{ view.boxId }}
        </div>
        <div class="large-6 medium-6 columns">
            X
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 columns">
            {{ view.previousElIndex }}
        </div>
        <div class="large-6 medium-6 columns">
            {{ view.nextElIndex }}
        </div>
    </div>
</div>
