<div class="root-container">
    <div class="inner-container">
        {{#each row in rows}}
            <div class="row">
            {{#each box in row.boxes}}
                {{view "box" box=box row=row}}
            {{/each}}
            </div>
            <br class="hide-for-small-only" />
        {{/each}}
    </div>
</div>
